*{margin: 0;padding: o;}
body h3{
    font-family: 'Manrope', sans-serif;
    color: gray;
}
body h1{
    font-family: 'Pacifico', cursive;
}
body div{
    background-color: rgb(247, 247, 247);
    padding: 3vh;
    margin-right: 5vh;
    box-shadow: 0px 0px 10px 10px rgb(216, 216, 216);
}
.post:hover{
    font-size: larger;
    transition: 350ms;
}
.post img{
    box-shadow: 1px 2px 3px 5px rgb(190, 190, 190);
}
.post button{
    font-size: 5vh;
    text-align: right;
    border-radius: 1.5vh;
    background-color: rgb(219, 219, 219);
    color: white;
    border: none;
    font-family: 'Manrope', sans-serif;
}
.post button:hover{
    padding: 0.5vh;
    background-color: rgb(127, 127, 253);
    transition: 100ms;
}
.post .like:hover{
    background-color: rgb(255, 180, 126);
}
.post .like:focus{
    background-color: red;
}
.post button img{
    box-shadow: none
}
.cr{
    color: aliceblue;
    background-color: black;
    font-family: 'Manrope', sans-serif;
    padding: 2vh;
    font-size: 3.5vh;
    box-shadow: none;
}
.thanks{
    box-shadow: none;
    background-color: black;
    color: aliceblue;
}
@media(max-width: 781px){
    body div{
        margin-right: 0;
    }
    .post img{
        width: 18rem;
        height: 18rem;
    }
    .post button img{
        width: 2rem;
        height: 2rem;
        padding-top: 1px;
    }
}
