*{margin: 0;padding: 0;}
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
body button{
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    border: none;
}
body a{
    text-decoration: none;
    color: white;
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    /* padding-bottom: 2vh; */
}
.nav-section{
    padding: 3vh;
}
.nav-section button{
    font-size: 3vh;
    color: aliceblue;
}
.nav-section a{
    padding-right: 7vh;
    padding-left: 5vh
}
.main-section h1{
    padding-bottom: 2vh;
    font-size: 4vh;
}
.main-section button{
    font-size: 2.5vh;
    background-color: rgb(113, 245, 11);
    padding: 1.5vh;
    border-radius: 2vh;
    opacity: 85%;
}
header{
    background-size: cover;
}
.nav-section button:hover{
    background-color: rgb(0, 255, 0);
    padding: 0.5vh;
    transition: all ease 0.2s;
    opacity: 85%;
    border-radius: 0.5vh;
    opacity: 100%;
    color: black;
}
.main-section button:hover{
    background-color: rgb(113, 245, 113);
    padding: 1.5vh;
    transition: all ease 0.2s;
    opacity: 100%;
}
.about{
    padding-top: 33vh;
    padding-bottom: 25vh;
    font-size: 3.5vh;
}
footer{
    /* background-image: url(p); */
    background-size: cover;
}
.about h1{
    padding-bottom: 5vh;
    font-size: 10vh;
}
.about ul{
    color: aliceblue;
}
.about strong{
    color: grey;
}
.top button{
    background-color: rgb(113, 245, 113);
    padding: 2vh;
    border-radius: 2vh;
    opacity: 0%;
}
.top a{
    pointer-events: none;
}
.top{
    padding-bottom: 5vh;
}
.top button:hover{
    opacity: 100%;
    pointer-events: all;
    transition: 0.1s ease all;
}